.project-grid > a {
  display: flex;
  align-items: flex-start;
}

.project-page section {
  margin-bottom: 32px;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
