.link-group .btn.btn-link {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  color: #000;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background: rgba($color: #000000, $alpha: .85);
  }

  &:hover,
  &:active,
  &:focus {
    opacity: .85;
    &:after {
      opacity: .85;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.btn.btn-link {
  position: relative;

  &:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background: rgba($color: #000000, $alpha: .85);
  }
}
