<header role="banner">
  <div class="uk-container uk-container-medium">
    <nav class="uk-navbar-container uk-navbar uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li>
            <a href="{{ "/" | relative_url }}" title="Homepage"><img class="nav-logo uk-margin-small-right" src="{{ '/assets/images/window1.svg' | relative_url }}">{{ site.title | escape }}</a>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          {% for item in site.social %}
            <li><a href="{{ item.url }}" {{ item.attr }}><span uk-icon="icon: {{ item.icon }}"></span></a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
