<div class="main-hero">
    <div class="panel panel--top">
      <div class="panel__item">
        <h1>Chaz Giese</h1>
      </div>
      <div class="panel__item panel__item--about">
        <p>Hi—I design digital experiences with a focus on purpose & beauty. In my free-time I enjoy inspecting the element, scrolling with both hands, and collecting browser tabs.</p>
      </div>
    </div>
    <div class="panel panel--bottom">
      <div class="panel__item">
        <span>Brooklyn, NY</span>
      </div>
      <div class="panel__item panel__item--links">
        <div>
          {% for item in site.social %}
            <div>
              <a href="{{ item.url }}" {{ item.attr }}>{{ item.title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
