<div class="main-hero uk-animation-fade">
    <div class="panel panel--top">
      <div class="panel__item">
        <h1>Chaz Giese</h1>
      </div>
      <div class="panel__item panel__item--about">
        <p>Hi—I design digital experiences with a focus on clarity & beauty. In my free-time I enjoy inspecting the element, scrolling with both hands, and collecting browser tabs.</p>
      </div>
    </div>
    <div class="panel panel--bottom">
      <div class="panel__item">
        <span>Brooklyn, NY</span>
      </div>
      <div class="panel__item panel__item--links">
          {% for item in site.social %}
              <a class="uk-icon uk-padding-small uk-button uk-button-text" href="{{ item.url }}" {{ item.attr }} uk-icon="icon: {{ item.icon }}; ratio: 2;"></a>
          {% endfor %}
      </div>
    </div>
</div>
