body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Proza Libre';
  font-weight: 700;
}

a.active, a:active, a:focus, a:hover {
  box-shadow: none;
  text-decoration: none;
}
